body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
 
  
} 
.title {
    color: rgb(0, 174, 255);;
}

button input{   


border-radius: 5px;
background-color: transparent;

} 
.button{ 
    margin-top: 10px;
    display: flex;
    justify-content: center;  
  
  
}    
.email input,.password input {
    border: none;
    border-bottom: 2px solid rgb(0, 174, 255);


}

.password input:focus{
    border: none;
        border-bottom: 3px solid #555;
      


} 



button{
    border: none ; 
    background-color: transparent;
}
.button button input {  

    font-size: 13px;
    font-weight: 600;
    background-color: white;
    color: cadetblue;
    border: 2px solid rgb(0, 174, 255);
    transition-duration: 0.4s;
    border-radius: 7px; 
    padding: 5px;
}
.button button input:hover {
    background-color: rgb(0, 174, 255);
    color: white;
  } 
